<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Сохраненные блюда{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
<script src="https://code.iconify.design/1/1.0.0/iconify.min.js"></script>

<!-- Основной контент -->
<div id="main-content">
    <div id="category-sidebar">
        <h2>Категории</h2>
        <ul id="category-list">
            <li onclick="filterByCategory('Все')">
                <span class="icon-text">Все</span>
                <span class="iconify" data-icon="solar:shop-minimalistic-bold"></span>                
            </li>
            <li onclick="filterByCategory('Фрукты')">
                <span class="icon-text">Фрукты</span>
                <span class="iconify" data-icon="lucide:apple"></span>
            </li>
            <li onclick="filterByCategory('Овощи')">
                <span class="icon-text">Овощи</span>
                <span class="iconify" data-icon="ph:carrot-bold"></span>

            </li>
            <li onclick="filterByCategory('Грибы')">
                <span class="icon-text">Грибы</span>
                <span class="iconify" data-icon="tdesign:mushroom"></span>
            </li>
            <li onclick="filterByCategory('Орехи')">
                <span class="icon-text">Орехи</span>
                <span class="iconify" data-icon="tdesign:nut-filled"></span>
            </li>
            <li onclick="filterByCategory('Зелень')">
                <span class="icon-text">Зелень</span>
                <span class="iconify" data-icon="tdesign:milk"></span>
            </li>
            <li onclick="filterByCategory('Напитки')">
                <span class="icon-text">Напитки</span>
                <span class="iconify" data-icon="mdi:drink-outline"></span>
            </li>
            <li onclick="filterByCategory('Крупы')">
                <span class="icon-text">Крупы</span> 
                <span class="iconify" data-icon="fluent:food-grains-24-regular"></span>
            </li>
            <li onclick="filterByCategory('Специи')">
                <span class="icon-text">Специи</span>
                <span class="iconify" data-icon="mdi:fish-food"></span>
            </li>
        </ul>
    </div>
    <h2>Список продуктов</h2>

    <div class="column">
        <!-- Список продуктов -->
        <div id="product-list">
                {% csrf_token %}
                {% for product in products %}
                    <div class="product-block">
                        <div class="product-form" 
                             onclick="
                                openProductModal(
                                    '{{ product.id }}', 
                                    '{{ product.name }}', 
                                    '{% if product.image_url %}{% static product.image_url %}{% else %}{% static 'products/images/none.jpg' %}{% endif %}', 
                                    '{{ product.calories }}', 
                                    '{{ product.fats }}', 
                                    '{{ product.proteins }}', 
                                    '{{ product.carbohydrates }}', 
                                    '{{ product.water }}',
                                    '{{ product.sugar }}'
                                )" 
                             data-category="{{ product.categories }}">
                            <div class="product-details">
                                <h3 class="product-name-value">{{ product.name }}</h3>
                            </div>
                            <img src="{% if product.image_url %}{% static product.image_url %}{% else %}{% static 'products/images/none.jpg' %}{% endif %}" alt="{{ dish.name }}" class="dish-image" style="width: 200px; height: 200px;">

                           
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div id="productModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeProductModal()">&times;</span>
        <h2 id="modal-product-name"></h2>
        <div class="modal-product-data">
            <div class="product-nutrition-info"> 
                <img id="modal-product-image" class="product-image" style="width: 350px; height: auto;"> <!-- Обратите внимание на id --> <!-- Закрывающий тег изменён с <image> на <img> -->
                <div>
                    <div class="nutrition-items">
                        <div class="nutrition-item">
                            <span id="modal-product-calories"></span>
                            <p>Калории</p>
                        </div>
                        <div class="nutrition-item">
                            <span id="modal-product-fats"></span>
                            <p>Жиры</p>
                        </div>
                        <div class="nutrition-item">
                            <span id="modal-product-proteins"></span>
                            <p>Белки</p>
                        </div>
                        <div class="nutrition-item">
                            <span id="modal-product-carbohydrates"></span>
                            <p>Углеводы</p>
                        </div>
                        <div class="nutrition-item">
                            <span id="modal-product-water"></span>
                            <p>Вода</p>
                        </div>
                        <div class="nutrition-item">
                            <span id="modal-product-sugar"></span>
                            <p>Сахар</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>


<script>
    function openProductModal(id, name, image_url, calories, fats, proteins, carbohydrates, water, sugar) {
        document.getElementById('modal-product-image').src = image_url;
        document.getElementById('modal-product-name').textContent = name;
        document.getElementById('modal-product-calories').textContent = calories;
        document.getElementById('modal-product-fats').textContent = fats;
        document.getElementById('modal-product-proteins').textContent = proteins;
        document.getElementById('modal-product-carbohydrates').textContent = carbohydrates;
        document.getElementById('modal-product-water').textContent = water;
        document.getElementById('modal-product-sugar').textContent = sugar;

        // Открытие модального окна
        const modal = document.getElementById('productModal');
        modal.style.display = 'block';
    }


    function closeProductModal() {
        const modal = document.getElementById('productModal');
        modal.style.display = "none"; // Скрываем модальное окно
    }

    function filterByCategory(category) {
        const productList = document.getElementById('product-list');
        const productBlocks = productList.getElementsByClassName('product-block'); // Изменено на productBlocks

        for (let i = 0; i < productBlocks.length; i++) {
            const productForm = productBlocks[i].getElementsByClassName('product-form')[0]; // Получаем product-form
            const productCategory = productForm.getAttribute('data-category'); // Получаем категорию через product-form

            if (productCategory === category || category === 'Все') {
                productBlocks[i].style.display = ''; // Показываем весь блок продуктов, включая кнопку
            } else {
                productBlocks[i].style.display = 'none'; // Скрываем весь блок продуктов
            }
        }
        console.log("Фильтруем по категории: " + category);
    }
    
</script>
{% endblock %}